/*  your css code here. If applicable */
const Form  = document.querySelector("#form");
Form.addEventListener("submit" ,(event) =>{
	event.preventDefault();
	const data = {
		fName : Form.["First Name"].value,
		lName : Form.["Last Name"].value,
		Ph : Form.["Phone Number"].value,
		Eml : Form.["Email ID"].value
	}
	alert(JSON.stringify(data));
});